.share {
  position: fixed;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background: rgb(0,0,0,0.1);
  top: 0;
  left: 0;
  z-index: 1;
}


.share-modal {
  position: relative;
  display: block;
  max-width: 600px;
  background: white;
  margin: auto;
  padding: 20px;
  text-align: left;
  border: none;
  box-shadow: 6px 6px 10px rgb(0,0,0,0.1);
}

.close {
  position: absolute;
  right: 0;
  top: 0;
  color: black;
  background: transparent;
  border: none;
}

.close:hover {
  color: red;
  border: none;
}

