<div class='container'>
  <h1>Questions</h1>
  <div class='search'>
    <input #searchBox type="text" [(ngModel)]="resultsInfo.lastTerm" placeholder="Search..." (input)="search(searchBox.value)"
      class=''>
    <button *ngIf='searchBox.value != ""' (click)="searchBox.value='';search()" class='clear'>×</button>
  </div>
  <ul class="questions">
    <li *ngFor="let question of questions">
      {{question.id}}
      <a routerLink="/detail/{{question.id}}">{{question.question}}</a>
    </li>
  </ul>
  <button (click)="loadMore()">Load more</button>
</div>
