<div class='container'>
  <h1>Question's Details</h1>
  <div *ngIf='!question' class='loader'></div>
  <div *ngIf='question'>
    <h2>{{ question.id }} / {{ question.question }}</h2>
    <img src='{{ question.image_url }}'>
    <div>

    </div>
    <p>Cast your vote in one of these options:</p>
    <ul class='choices'>
      <li *ngFor="let choice of question.choices" class='choice'>
        <div class='name'>{{ choice.choice }}</div>
        <button class='vote-btn' (click)="vote(choice.choice)" [disabled]='votingAllowed === false'>Vote</button>
        <div class='votes'>{{ choice.votes }}</div>
      </li>
    </ul>
  </div>
  <button (click)='goBack()'>Go Back</button>
  <app-share></app-share>
</div>
